* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .3s linear;
    text-decoration: none;
    text-transform: capitalize;
    outline: none;
    font-family: 'Crimson Pro', serif;

}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.header {
    padding: 2rem 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: fixed;   change this */
    top: 0;
    right: 0;
    left: 0;
    background-color: #0b4556;
    box-shadow: 0.5rem .5rem rgba(207, 6, 6, 0.1);

}

.header #logo img {
    width: 100px;
}

.header #logo img {
    width: 100px;
    filter: brightness(0) invert(1);
}

.header .navbar a {
    font-size: 2.1rem;
    margin-left: 1.5rem;
    color: #ffffff;

}

.header .navbar a:hover {
    color: crimson;
}

.header .icons {
    font-size: 2rem;

}

.header .icons div {
    margin-left: 1rem;
    cursor: pointer;
}

.header .icons div:hover {
    color: var(--maincolor);
}

.header .icons #menu-bars {
    display: none;
}

.header .navbar.active {
    left: 0;
}


/* !!!!!!!!!!!!!!!!!!!!!!about section!!!!!!!!!!!!!!!! */
.about367-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5%;
}

.about367-text {
    flex: 1;
    padding: 20px;
    margin-left: 200px;
}

.about367-text h2 {
    font-size: 3rem;
    line-height: 1;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
}

.about367-text h4 {
    font-size: 22px;
    line-height: 2;

}

.about367-text p {
    font-size: 17px;
    line-height: 1.5;
}

.about367-img {
    flex: 1;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease;
}

.about367-img:hover {
    transform: scale(1.1);
}

.about367-img img {
    max-width: 100%;
    height: auto;
    max-height: 300px;
    border-radius: 8px;
    margin-right: 250px;
}



/* other section */
#about {
    padding: 80px 0px;
    color: #ababab;
    /* margin: 3%; */
    margin-left: 8%;
    margin-right: 8%;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 30px;

}

.about-col-2 {
    flex-basis: 60%;
}

/* font change */
.tester {
    font-size: 60px;
    font-weight: 600;
    color: #80674d;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;

}
.tester2 {
    font-size: 18px;
    color: black;

}


.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 23px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}


.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;

}

.tab-links.active-link::after {
    width: 50%;

}

.tab-contents {
    list-style: none;
    margin: 100px 100px 100px 100px;

}

.tab-contents ul li span {
    color: #c4b07e;
    font-size: 18px;


}
.tab-contents ul li p{
   
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;


}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/* /////////////////////////////////////////////// */
/* map section  */


.hotel {
    background-color: #F5ECEB; 
    border: 1px solid #E3D3D3; 
    padding: 20px;
    margin: 20px;
    border-radius: 10px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    height: 200px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-size: 18px; 
    text-align: center;
}

.hotel-link {
    text-decoration: none;
    color: #4E4E4E; 
    display: inline-block;
    position: relative;
    text-align: center;
}

.hotel-link::before {
    content: "📍";
    position: relative;
    margin-right: 5px; 
    font-size: 22px; 
}














/* !!!!!!!!!!!footer!!!!!!!!!!!! */
/*  */
/*  */
/*  */
/*  */
footer {
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    background: #0b4556;
}

footer .content {
    max-width: 1350px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .content a {
    color: #fff;
}

footer .content p,
a {
    color: #fff;
}

footer .content .box {
    width: 33%;
    transition: all 0.4s ease;
}

footer .content .topic {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 16px;

}

footer .content p {
    text-align: justify;
}

footer .content .lower .topic {
    margin: 24px 0 5px 0;
}

footer .content .lower i {
    padding-right: 16px;
}

footer .content .middle {
    padding-left: 80px;
}

footer .content .middle a {
    line-height: 32px;
}

footer .content .right input[type="text"] {
    height: 45px;
    width: 100%;
    outline: none;
    color: #d9d9d9;
    background: #ffffff;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 17px;
    border: 2px solid #222222;
}

footer .content .right input[type="submit"] {
    height: 42px;
    width: 100%;
    font-size: 18px;
    color: #d9d9d9;
    background: #ce5a3a;
    outline: none;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 12px;
    border: 2px solid #ffffff;
    transition: all 0.3s ease-in-out;
}

.content .right input[type="submit"]:hover {
    background: none;
    color: #fbfbfb;
}

footer .content .media-icons a {
    font-size: 16px;
    height: 45px;
    width: 45px;
    display: inline-block;
    text-align: center;
    line-height: 43px;
    border-radius: 5px;
    border: 2px solid #222222;
    margin: 30px 5px 0 0;
    transition: all 0.3s ease;
}

.content .media-icons a:hover {
    border-color: #ffffff;
}

footer a {
    transition: all 0.3s ease;
}

footer a:hover {
    color: #eb2f06;
}



/*  */
/*  */
/*  */
/*  */












































































/* !!!!!!!!!!!!!!!footer responsive!!!!!!!!!!!!!! */

@media (max-width:1100px) {
    footer .content .middle {
        padding-left: 50px;
    }
}

@media (max-width:950px) {
    footer .content .box {
        width: 50%;
    }

    .content .right {
        margin-top: 40px;
    }
}

@media (max-width:560px) {
    footer {
        position: relative;
    }

    footer .content .box {
        width: 100%;
        margin-top: 30px;
    }

    footer .content .middle {
        padding-left: 0;
    }
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* navbar responsive */
@media (max-width:768px) {
    html {
        font-size: 50%;
    }

    .header .icons #menu-bars {
        display: inline-block;
    }

    .header {
        padding: 2rem;
        position: fixed;
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        left: 100%;
        right: 0;
        background: linear-gradient(rgba(0, 0, 0, 0.6), #ffbf00);

    }

    .header .navbar a {
        display: block;
        margin: 1rem;
        padding: 1rem;
        background: white;
        color: #000;
        border-radius: 10px;
    }

}

/* ////////////////////////////////////////////////////////////////// */


@media screen and (max-width:778px) {
    #header {
        background-size: cover;
        background-position: center;
        margin-top: 500px;
    }

    .header-text {
        margin-top: 100%;
        font-size: 16px;
    }

    .header-text h1 {
        font-size: 30px;
    }

    .tester {
        font-size: 40px;
    }

    .about-col-1,
    .about-col-2 {
        flex-basis: 100%;

    }

    .about-col-1 {
        margin-bottom: 30px;

    }

    .about-col-2 {
        font-size: 18px;
    }

    .container {
        margin-top: 50px;
    }












}


@media (max-width: 778px) {
    .about367-content {
        display: block;
        align-items: center;
        justify-content: space-between;
        margin: 0%;
        background-color: #faebd7;
    }

    .about367-text {
        flex: 1;
        padding: 20px;
        margin-left: 0px;
    }

    .about367-text h2 {
        font-size: 3rem;
        line-height: 1;
    }

    .about367-text h4 {
        font-size: 22px;
        line-height: 2;

    }

    .about367-text p {
        font-size: 17px;
        line-height: 1.5;
    }

    .about367-img {
        flex: 1;
        text-align: center;
        padding: 0px;
    }

    .about367-img img {
        max-width: 100%;
        height: auto;
        max-height: 300px;
        border-radius: 8px;
        margin-right: 0px;
    }
}